<section class="wrapper">

	<!-- menu -->
	<ul class="main-nav hide">
    	<li><span class="username">Kaleider name</span></li>
        <li><a href="#" class="btn-green" title="add quote">NO! I want add a quote</a></li>
        <li><a href="#" class="btn-red" title="logout">Get out of here!</a></li>
        <li class="close"><img src="./assets/img/plus.svg" alt="close"></li>
    </ul>

	<!-- top bar -->
    <div class="top-bar">
		<span class="menu-toggle"><img src="./assets/img/menu.svg" alt="Menu"></span>
		<img src="./assets/img/quotes-icon.png" alt="KALEIDOS QUOTES">

        <ul class="order">
        	<li>Order</li>
          	<li><a href="#" class="current">Creation</a></li>
          	<li><a href="#">Ranking</a></li>
          	<li class="filter"><span>Filter by kaleider</span>
            	<select name="filter" class="input-select">
              		<option>All</option>
              		<option>Kaleider name 1</option>
              		<option>Kaleider name 2</option>
              		<option>Kaleider name 3</option>
            	</select>
          	</li>
        </ul>
    </div>

	<!-- quotes list -->
    <div class="quotes-list">

    	<!-- quote-->
        <div class="quote-body">
			<span class="points">5</span>
        	<div class="quote-content">
            	<div class="quote-data">
					<span class="author">Kaleider author</span>
					<span class="date">15 hours ago</span>
				</div>
            	<div class="quote-middle">
              		<p>
						(Alonso) - El problema es<br>
						(Andy) - No lo llames problema, llámalo oportunidad<br>
						(Alonso) - Vale, la oportunidad de esta mierda...
					</p>
            	</div>
            	<div class="quote-bottom">
              		<ul class="vote">
 		               	<li class="stared"><img class="star" src="./assets/img/star-icon.svg" alt="1 vote"></li>
 		               	<li class="stared"><img class="star" src="./assets/img/star-icon.svg" alt="2 vote"></li>
 		               	<li class="stared"><img class="star" src="./assets/img/star-icon.svg" alt="3 vote"></li>
 		               	<li class=""><img class="star" src="./assets/img/star-icon.svg" alt="4 vote"></li>
 		            	<li class=""><img class="star" src="./assets/img/star-icon.svg" alt="5 vote"></li>
              		</ul>
		            <ul class="quote-actions">
                		<li><img class="action" src="./assets/img/trash.svg" alt="delete quote"></li>
                		<li><img class="action" src="./assets/img/pencil.svg" alt="edit quote"></li>
                		<li><img class="action" src="./assets/img/twitter.svg" alt="share in Twitter"></li>
              		</ul>
            	</div>
				<div class="quote-comment">
					<p>Mientras teletrabaja desde casa de Miguel</p>
				</div>
          	</div>
        </div>

    	<!-- quote-->
        <div class="quote-body">
			<span class="points">5</span>
        	<div class="quote-content">
            	<div class="quote-data">
					<span class="author">Kaleider author</span>
					<span class="date">15 hours ago</span>
				</div>
            	<div class="quote-middle">
              		<p>
						(Alonso) - El problema es<br>
						(Andy) - No lo llames problema, llámalo oportunidad<br>
						(Alonso) - Vale, la oportunidad de esta mierda...
					</p>
            	</div>
            	<div class="quote-bottom">
              		<ul class="vote">
 		               	<li class="stared"><img class="star" src="./assets/img/star-icon.svg" alt="1 vote"></li>
 		               	<li class="stared"><img class="star" src="./assets/img/star-icon.svg" alt="2 vote"></li>
 		               	<li class="stared"><img class="star" src="./assets/img/star-icon.svg" alt="3 vote"></li>
 		               	<li class=""><img class="star" src="./assets/img/star-icon.svg" alt="4 vote"></li>
 		            	<li class=""><img class="star" src="./assets/img/star-icon.svg" alt="5 vote"></li>
              		</ul>
		            <ul class="quote-actions">
                		<li><img class="action" src="./assets/img/trash.svg" alt="delete quote"></li>
                		<li><img class="action" src="./assets/img/pencil.svg" alt="edit quote"></li>
                		<li><img class="action" src="./assets/img/twitter.svg" alt="share in Twitter"></li>
              		</ul>
            	</div>
				<div class="quote-comment">
					<p>Mientras teletrabaja desde casa de Miguel</p>
				</div>
          	</div>
        </div>

    	<!-- quote-->
        <div class="quote-body">
			<span class="points">5</span>
        	<div class="quote-content">
            	<div class="quote-data">
					<span class="author">Kaleider author</span>
					<span class="date">15 hours ago</span>
				</div>
            	<div class="quote-middle">
              		<p>
						(Alonso) - El problema es<br>
						(Andy) - No lo llames problema, llámalo oportunidad<br>
						(Alonso) - Vale, la oportunidad de esta mierda...
					</p>
            	</div>
            	<div class="quote-bottom">
              		<ul class="vote">
 		               	<li class="stared"><img class="star" src="./assets/img/star-icon.svg" alt="1 vote"></li>
 		               	<li class="stared"><img class="star" src="./assets/img/star-icon.svg" alt="2 vote"></li>
 		               	<li class="stared"><img class="star" src="./assets/img/star-icon.svg" alt="3 vote"></li>
 		               	<li class=""><img class="star" src="./assets/img/star-icon.svg" alt="4 vote"></li>
 		            	<li class=""><img class="star" src="./assets/img/star-icon.svg" alt="5 vote"></li>
              		</ul>
		            <ul class="quote-actions">
                		<li><img class="action" src="./assets/img/trash.svg" alt="delete quote"></li>
                		<li><img class="action" src="./assets/img/pencil.svg" alt="edit quote"></li>
                		<li><img class="action" src="./assets/img/twitter.svg" alt="share in Twitter"></li>
              		</ul>
            	</div>
				<div class="quote-comment">
					<p>Mientras teletrabaja desde casa de Miguel</p>
				</div>
          	</div>
        </div>

	</div>
</section>


