<div class="login-content">
	<img src="./assets/img/quotes-icon.png" alt="QUOTES KALEIDOS">

	<form class="login-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">

		<input type="text" class="input-text" placeholder="type your username" required
               [(ngModel)]="model.username" ngControl="username"
               ngControl="username"  #iusername="ngForm">

		<input type="password" class="input-text" placeholder="type your password" required
               [(ngModel)]="model.password" ngControl="password"
               ngControl="password"  #password="ngForm">

        <input type="submit" class="btn-login" [disabled]="!loginForm.form.valid"
               value="QUOTE THEM ALL!">


        <!-- <a href="#">Need help?</a> -->

	</form>
</div>
