<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= APP_TITLE %></title>
        <meta name="description" content="<%= APP_DESCRIPTION %>">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>

        <link href="https://fonts.googleapis.com/css?family=Lato:400,900italic,900,700italic,700,400italic,300italic,300,100italic,100" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css"/>

        <!-- inject:css -->
        <!-- endinject -->
    </head>
    <body>
        <app>Loading...</app>

        <!-- shims:js -->
        <!-- endinject -->

        <script>System.config(<%= JSON.stringify(SYSTEM_CONFIG) %>)</script>

        <!-- libs:js -->
        <!-- endinject -->

        <script>
            System.import('bootstrap').catch(function (e) {
                console.error(e, 'Use the force my friend!!');
            });
        </script>

        <!-- inject:js -->
        <!-- endinject -->

    </body>
</html>
